*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background: url(444.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: auto;
	font-family: sans-serif;
}

.menu-bar
{
	background: rgb(60,60,60);
	text-align: center;
}

.menu-bar ul
{
	display: inline-flex;
	list-style: none;
	color: #fff;
}

.menu-bar ul li
{
	width: 120px;
	margin: 9px;
	padding: 9px;
}

.menu-bar ul li a
{
	text-decoration: none;
	color: #fff;
}

.menu-bar ul li:hover
{
	background-color: grey;
	border-radius: 2px;
}

img {	
	border-radius: 60%;
}

h1 {
	font-family: papyrus;
	letter-spacing: 5px;
}
h3 {
	font-family: Garamond;
	letter-spacing: 1px;
}

.box {
	width: 850px;
	height: 580px;
	background: rgba(0, 0, 0, 0.4);
	padding: 40px;
	text-align: center;
	margin: auto;
	margin-top: 3%;
	color: white;
	font family:'Century Gothic',sans-serif;
}

.box h2 {
	font-size: 40px;
	letter-spacing: 4px;
	font-weight: 100;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: white;
	text-align: center;
)
	